In [7]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [8]:
df_td = pd.read_stata("raw_data/td4_3D.dta")

df_td.head()

,idcode,MM,GG,hh,mm,ss,ms,cosarr,conchir,doverr,weeks,mood,dayweek,sex,lat_casa,lon_casa,time_str,timestamp_TD
0,deb1cc1094abe3b84148183e5acff809c7890942,5.0,10.0,0.0,2.0,18.0,790.0,Sleeping,Roommate(s),Home Apartment Room,prime due settimane,NaN,Thursday,F,46.061207,11.130863,10/5/2018 0:2:18.790,2018-05-10 00:02:18.790
1,deb1cc1094abe3b84148183e5acff809c7890942,5.0,10.0,0.0,32.0,18.0,635.0,Sleeping,Roommate(s),Home Apartment Room,prime due settimane,NaN,Thursday,F,46.061207,11.130863,10/5/2018 0:32:18.635,2018-05-10 00:32:18.635
2,deb1cc1094abe3b84148183e5acff809c7890942,5.0,10.0,1.0,2.0,18.0,641.0,Sleeping,Roommate(s),Home Apartment Room,prime due settimane,NaN,Thursday,F,46.061207,11.130863,10/5/2018 1:2:18.641,2018-05-10 01:02:18.641
3,deb1cc1094abe3b84148183e5acff809c7890942,5.0,10.0,1.0,32.0,18.0,620.0,Sleeping,Roommate(s),Home Apartment Room,prime due settimane,1.0,Thursday,F,46.061207,11.130863,10/5/2018 1:32:18.620,2018-05-10 01:32:18.620
4,deb1cc1094abe3b84148183e5acff809c7890942,5.0,10.0,2.0,2.0,18.0,631.0,Sleeping,Roommate(s),Home Apartment Room,prime due settimane,1.0,Thursday,F,46.061207,11.130863,10/5/2018 2:2:18.631,2018-05-10 02:02:18.631

In [9]:
sub_1,sub_2,sub_3 = df_td.idcode.unique().tolist()

In [10]:
tdf_sub1 = df_td[df_td["idcode"]==sub_1].reset_index(drop=True)
tdf_sub2 = df_td[df_td["idcode"]==sub_2].reset_index(drop=True)
tdf_sub3 = df_td[df_td["idcode"]==sub_3].reset_index(drop=True)
print(tdf_sub1.shape)
print(tdf_sub2.shape)
print(tdf_sub3.shape)

(672, 18)
(672, 18)
(672, 18)

In [4]:
df_td.columns

Index(['idcode', 'MM', 'GG', 'hh', 'mm', 'ss', 'ms', 'cosarr', 'conchir',
       'doverr', 'weeks', 'mood', 'dayweek', 'sex', 'lat_casa', 'lon_casa',
       'time_str', 'timestamp_TD'],
      dtype='object')

##  Drop unwanted columns

In [5]:
df_td = df_td.drop(['MM', 'GG', 'hh', 'mm', 'ss', 'ms',"time_str"], axis=1)
df_td.columns

Index(['idcode', 'cosarr', 'conchir', 'doverr', 'weeks', 'mood', 'dayweek',
       'sex', 'lat_casa', 'lon_casa', 'timestamp_TD'],
      dtype='object')

## Rename the columns name

In [6]:
df_td = df_td.rename(columns={"cosarr": "activity",'conchir':'with_who', 'doverr':"where",\
                              "lat_casa":"latitude_home","lon_casa":"longitude_home","dayweek":"day_of_week"})

In [7]:
df_td.columns

Index(['idcode', 'activity', 'with_who', 'where', 'weeks', 'mood',
       'day_of_week', 'sex', 'latitude_home', 'longitude_home',
       'timestamp_TD'],
      dtype='object')

In [8]:
df_td.shape

(2016, 11)

## Rename/ convert the value of week to English

In [11]:
print(df_td.weeks.unique())
# rename the value to english 
df_td["weeks"].replace({"prime due settimane": "first two weeks"}, inplace=True)
print(df_td.weeks.unique())

['first two weeks']
Categories (1, object): ['first two weeks']
['first two weeks']
Categories (1, object): ['first two weeks']

# Recode mood column value
### Convert mood label to consistent text format

In [13]:
df_td.mood.unique()

[NaN, 1.0, 'Happy', 2.0, 3.0, 'Sad']
Categories (5, object): ['Happy' < 1.0 < 2.0 < 3.0 < 'Sad']

In [14]:
mood = {
    "Happy":"Very happy",
    1.0  :"Fairly happy",
    2.0: "Neutral",
    3.0 : "Fairly sad",
   "Sad": "Very sad", 
    
    
    
    
}


df_td["mood"] = df_td.mood.apply(lambda m: mood[m])
df_td.mood.unique()

[NaN, 'Fairly happy', 'Very happy', 'Neutral', 'Fairly sad', 'Very sad']
Categories (5, object): ['Very happy' < 'Fairly happy' < 'Neutral' < 'Fairly sad' < 'Very sad']

## Missing Values 
#### Put  the Null/Nan value  as a missing_value

In [15]:
df_td.mood = df_td.mood.cat.add_categories("missing_val").fillna("missing_val")
df_td.mood.unique()

['missing_val', 'Fairly happy', 'Very happy', 'Neutral', 'Fairly sad', 'Very sad']
Categories (6, object): ['Very happy' < 'Fairly happy' < 'Neutral' < 'Fairly sad' < 'Very sad' < 'missing_val']

In [16]:
df_td.head()

,idcode,activity,with_who,where,weeks,mood,day_of_week,sex,latitude_home,longitude_home,timestamp_TD
0,deb1cc1094abe3b84148183e5acff809c7890942,Sleeping,Roommate(s),Home Apartment Room,first two weeks,missing_val,Thursday,F,46.061207,11.130863,2018-05-10 00:02:18.790
1,deb1cc1094abe3b84148183e5acff809c7890942,Sleeping,Roommate(s),Home Apartment Room,first two weeks,missing_val,Thursday,F,46.061207,11.130863,2018-05-10 00:32:18.635
2,deb1cc1094abe3b84148183e5acff809c7890942,Sleeping,Roommate(s),Home Apartment Room,first two weeks,missing_val,Thursday,F,46.061207,11.130863,2018-05-10 01:02:18.641
3,deb1cc1094abe3b84148183e5acff809c7890942,Sleeping,Roommate(s),Home Apartment Room,first two weeks,Fairly happy,Thursday,F,46.061207,11.130863,2018-05-10 01:32:18.620
4,deb1cc1094abe3b84148183e5acff809c7890942,Sleeping,Roommate(s),Home Apartment Room,first two weeks,Fairly happy,Thursday,F,46.061207,11.130863,2018-05-10 02:02:18.631

In [17]:
df_td.weeks.unique()

['first two weeks']
Categories (1, object): ['first two weeks']

In [18]:
df_td = df_td.drop(["weeks"], axis=1)
df_td.shape

(2016, 10)

In [19]:
# save cleand data of all subject as csv 
df_td.to_csv("tdata/tdf_clean.csv", sep='\t',index=False)

In [20]:
# we have 3 subject 
sub_1,sub_2,sub_3 = df_td.idcode.unique().tolist()

In [21]:
tdf_sub1 = df_td[df_td["idcode"]==sub_1].reset_index(drop=True)
tdf_sub2 = df_td[df_td["idcode"]==sub_2].reset_index(drop=True)
tdf_sub3 = df_td[df_td["idcode"]==sub_3].reset_index(drop=True)
print(tdf_sub1.shape)
print(tdf_sub2.shape)
print(tdf_sub3.shape)

(672, 10)
(672, 10)
(672, 10)

## Export the  processed dataset of ecah subject as CSV file

In [22]:
# save as csv 
tdf_sub1.to_csv("tdata/tdf_sub1.csv", sep='\t',index=False)
tdf_sub2.to_csv("tdata/tdf_sub2.csv", sep='\t',index=False)
tdf_sub3.to_csv("tdata/tdf_sub3.csv", sep='\t',index=False)